body{
    background-color: bisque;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.image{
    border: 5px dotted black;
    width: 580px;
    border-radius: 40px;
}